// Reponssive text feature.

// The first parameter takes the smallest text size, the second - the largest, 
// the third parameter - the smallest screen width, the fourth - the largest screen width.
    
@function calcFluidFontSize($f-min, $f-max, $w-min:320, $w-max:2500) 
  $k: ($f-max - $f-min)/($w-max - $w-min)
  $b: $f-min - $k * $w-min

  $b: $b * 1px

  @return calc( #{$k} * 100vw + #{$b} )


// Using

.title
    h2
        font-size: calcFluidFontSize(28, 52)
    span
        font-size: calcFluidFontSize(14, 26)
    
button
    font-size: calcFluidFontSize(18, 28)

h3.underscore
    font-size: calcFluidFontSize(20, 38)

p
    font-size: calcFluidFontSize(15, 20)

footer .bottom_block
    font-size: calcFluidFontSize(12, 18)

.menu_links a
    font-size: calcFluidFontSize(18, 24)

.showcase_list
    .hover
        .packaging, a
            font-size: calcFluidFontSize(16, 22)
        .item_title
            font-size: calcFluidFontSize(22, 30)
            font-weight: 700
            letter-spacing: 1px